@model Teacher
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <form class="my-5" asp-area="Admin" asp-controller="Teacher" asp-action="Update" method="post" enctype="multipart/form-data">

        <div class="row mt-3">

            <div class="mb-3 col-lg-6">
                <label asp-for="@Model.Name" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Name</label>
                <input class="form-control" asp-for="@Model.Name">
                <span class="text-danger" asp-validation-for="@Model.Name"></span>
            </div>
            <div class="mb-3 col-lg-6">
                <label asp-for="@Model.Surname" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Surname</label>
                <input class="form-control" asp-for="@Model.Surname">
                <span class="text-danger" asp-validation-for="@Model.Surname"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Degree" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Degree</label>
                <input class="form-control" asp-for="@Model.Degree">
                <span class="text-danger" asp-validation-for="@Model.Degree"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Faculity" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Faculity</label>
                <input class="form-control" asp-for="@Model.Faculity">
                <span class="text-danger" asp-validation-for="@Model.Faculity"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Experience" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Experience</label>
                <input class="form-control" asp-for="@Model.Experience">
                <span class="text-danger" asp-validation-for="@Model.Experience"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Position" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Position</label>
                <input class="form-control" asp-for="@Model.Position">
                <span class="text-danger" asp-validation-for="@Model.Position"></span>
            </div>

            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Email" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Email</label>
                <input class="form-control" asp-for="@Model.Email">
                <span class="text-danger" asp-validation-for="@Model.Email"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Phone" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Phone</label>
                <input class="form-control" asp-for="@Model.Phone">
                <span class="text-danger" asp-validation-for="@Model.Phone"></span>
            </div>
            @{
                foreach (var S in Model.TeacherSocialToTeachers)
                {
                    <div class="mb-3 col-lg-4">
                        <label asp-for="@S.TeacherSocial.Link" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">@S.TeacherSocial.Name</label>
                        <input class="form-control" asp-for="@S.TeacherSocial.Link">
                        <span class="text-danger" asp-validation-for="@S.TeacherSocial.Link"></span>
                    </div>
                }

            }


        </div>
        <hr>
        <div class="row justify-content-around">

            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Skype" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Skype</label>
                <input class="form-control" asp-for="@Model.Skype">
                <span class="text-danger" asp-validation-for="@Model.Skype"></span>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Teacherskills.Language" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Language</label>
                <input class="form-control" asp-for="@Model.Teacherskills.Language">
                <span class="text-danger" asp-validation-for="@Model.Teacherskills.Language"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Teacherskills.Communication" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Communication</label>
                <input class="form-control" asp-for="@Model.Teacherskills.Communication">
                <span class="text-danger" asp-validation-for="@Model.Teacherskills.Language"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Teacherskills.Design" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Design</label>
                <input class="form-control" asp-for="@Model.Teacherskills.Design">
                <span class="text-danger" asp-validation-for="@Model.Teacherskills.Design"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Teacherskills.Development" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Development</label>
                <input class="form-control" asp-for="@Model.Teacherskills.Development">
                <span class="text-danger" asp-validation-for="@Model.Teacherskills.Development"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Teacherskills.Inovation" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Inovation</label>
                <input class="form-control" asp-for="@Model.Teacherskills.Inovation">
                <span class="text-danger" asp-validation-for="@Model.Teacherskills.Inovation"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="@Model.Teacherskills.TeamLeader" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">TeamLeader</label>
                <input class="form-control" asp-for="@Model.Teacherskills.TeamLeader">
                <span class="text-danger" asp-validation-for="@Model.Teacherskills.TeamLeader"></span>
            </div>
        </div>

        <hr>

        <div class="row justify-content-around">

            <div class="mb-3 col-lg-12">
                <label asp-for="@Model.About" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">About</label>
                <textarea class="form-control" asp-for="@Model.About" rows="5"></textarea>
                <span class="text-danger" asp-validation-for="@Model.About"></span>
            </div>
            <div class="mb-3 col-lg-12 d-flex flex-column">
                <label asp-for="@Model.ImageFile" class="form-label" style="font-weight: bold; font-size: 20px; color: #223e9c;">Image</label>
                <img src="~/img/teacher/@Model.Image" style=" width: 100px !important; height: 100px !important;" alt="Alternate Text" />
                <input class="form-control" asp-for="@Model.ImageFile">
                <span class="text-danger" asp-validation-for="@Model.ImageFile"></span>
            </div>
        </div>

        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.Image" />


        <button type="submit" class="btn btn-primary">Update</button>
    </form>


</div>
